# Esto es un .env con información parecida a la que tienes que tener.
# Copia este archivo y pegalo en la misma carpeta con el nombre ".env".
# Debes de modificar los campos para que se adapten a tus necesidades.

# Estos .env son especiales, los parsea mi propio lector, así que solo está permitido:

# 1. colocar # para comentarios
# 2. seguir la sintáxis de var="valor" o var='valor'
# 3. Están permitidos comentarios después de declarar la variable
# 4. Mirar los logs, si hay errores, el parser lo indicará en el error.

# Si priorizar variables de entorno sobre las variables dentro del punto env
# Esto quiere decir que si en el contexto del ENV exite una variable, priorizarla sobre el env
# Por defecto activado para permitir más flexibilidad
USE_SYSTEM_ENV_FIRST='true' # Ej: "false" "true"

# Dirección del servidor https y puerto https
# Lo que irá en `https://${HTTPS_SERVER_ADDRESS}:${HTTPS_SERVER_PORT}` (sintáxis javascript)
HTTPS_SERVER_ADDRESS='localhost' # Ej: "localhost", "www.miWeb.com", "127.0.0.1", "168.192.1.23"...
HTTPS_SERVER_PORT='5432' # Ej: "80", "443", "8080"