# Credits to https://github.com/marktext/marktext
# This workflow is based on the one from marktext/marktext
name: Release new version

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  unix:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install Pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install build dependencies (Linux only)
        if: runner.os == 'Linux'
        run: |
          sudo apt update && sudo apt install -y icnsutils graphicsmagick

      - name: Install dependencies
        run: pnpm install --prefer-offline --frozen-lockfile

      - name: Build and release
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            pnpm run build:linux --publish always
          elif [ "$RUNNER_OS" == "macOS" ]; then
            pnpm run build:mac --publish always
          fi

  windows:
    runs-on: windows-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install Pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install --prefer-offline --frozen-lockfile

      - name: Build and release
        run: pnpm run build:win --publish always
  
  create-release-publication:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Set release title
        uses: joutvhu/create-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: 'Cash Manager ${{ github.ref_name }}'
          body: | 
            Auto-generated release for ${{ github.ref_name }}
            These are the executables for windows, linux and mac (frontend only).
            For server, you have to install the source code and deploy it (You can use pm2 for it, recomended).
            For android, you have to compile it by your own.
          draft: false
          prerelease: false